@-moz-document domain(discordapp.com)
{
/* chats */
	/* chat messages container with INSANE PADDING WTF UX TEAM? */
	div[class*="messagesWrapper-"] div[class*="containerCompactBounded-"] {
		padding: 1px 0;
	}
	/* day separators and stuff */
	span[class*="dividerContent-"] {
		border-color: #aaa;
		color: #aaa;
	}
	/* actual chat messages */
	div.theme-light div[class*="markup-"] {
		color: #000;
	}
	/* sender of actual chat messages */
	.theme-light span[class*="username-"][role="button"] {
		color: #444; /* not completely clack because bold */
		font-weight: bold;
	}


/* channellist*/
	/* not messing with heights because scrolling... it would not display elements */

/* userlist */
	/* membergroups AGAIN WITH INSANE PADDING WHO DESIGNED THIS??? */
	div[class*="membersWrap-"] div[class*="membersGroup-"] {
		color: #000;
		background: #ddd;
		padding: 5px 0 5px 13px;
		height: unset;
		line-height: unset;
		letter-spacing: unset;
	}
	div[class*="memberOnline-"] div[class*="member-"] {
		height: 38px;
	}
	#app-mount .theme-light div[class*="memberOnline-"] {
		color: #000 /* no semicolon to prevent adding !important, because group colors */
	}


/* private area */
	/* some weird padding at the right side of private channels list, */
	/* where the scrollbar is but much wider than the scrollbar */
	div[class*="systemPad-"] {
		padding-right: 8px; /* was 17px */
	}
	/* compact top buttons in private channels (activity, library, store, friends) */
	div[class*="privateChannels-"] div[class*="searchBar-"] + div > div > div[class*="channel-"]:nth-child(-n+5) {
		height: unset;
	}
	div[class*="privateChannels-"] div[class*="searchBar-"] + div > div > div[class*="channel-"]:nth-child(-n+5) a {
		height: unset;
	}
	div[class*="privateChannels-"] div[class*="searchBar-"] + div > div > div[class*="channel-"]:nth-child(-n+5) svg {
		display: none;
	}
	/* DIRECT MESSAGES */
	div[class*="privateChannels-"] div[class*="searchBar-"] + div > div > header {
		margin: 0;
	}
	/* private channel list entries */
	div[class*="privateChannels-"] div[class*="channel-"] {
		height: 38px;
	}
	div[class*="privateChannels-"] div[class*="channel-"] a {
		border-radius: 0;
		padding: 0 0 0 8px;
		margin: 0;
		height: 38px;
	}
}
